# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db
*.sqlite3

# Virtual environment
venv/
.venv/

# Log files
*.log

# Uploads
minimalist_video_player/uploads/
local_file_sharer/uploads/

# Node.js dependencies
node_modules/
